H1, H2 {font-family:'Franklin Gothic Medium'}
.woodstock-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box {
  background: lightyellow;
  border: 2px solid #555;
  border-radius: .75rem;
  padding: 1rem;
  margin: 1rem 0;
}
#cycleBtn {
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  background: rgba(255,255,255,.8);
  margin: 1rem;
}

#snoopy, #Woodstock1 {
  position: relative;
  width: 300px;
  transition: transform 0.3s;
}

#ghost {
    position: absolute;
    width: 100px;
    opacity: 0.85;
    pointer-events: none; 
    transform: translate(-50%, -50%); 
}


